<form action='/tasks/{{task._id}}/edit' method='POST'>
	<div>
		<label for='title'>Write a title:</label>
		<input type='text' name='title' placeholder='title' value={{task.title}} />
	</div>
	<div>
		<label for='description'>Description:</label>
		<textarea
			name='description'
			id='description'
			placeholder='Description'
		>{{task.description}}</textarea>
	</div>
	<button type='submit'>Update</button>
</form>